.m-contact{
    //padding-top:5rem;
    display:block;
    min-height: 95vh;
    text-align: center;
    color:#333;

    .m-contact__top{
        display:block;
        position:relative;
        box-sizing: border-box;
        //padding-top:10rem;
        min-height:50vh;
        background-color:#fff;

        background-image: url('~img/lars_contact.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        color:#fff;

        z-index: 0;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(40, 40, 45, 0.8);
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    .m-contact__bottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:100%;
        font-weight: 100;
        letter-spacing: 0.2em;
        font-variant-ligatures: normal;
        text-align: center;
        text-transform: uppercase;
        //background-color: rgb(247,247,247);

        @include mq('tablet', 'max'){
            flex-direction: column;
        }

        h1,h3,p{
            font-weight:100;            
        }

        h3,p,a{
            color: rgb(122,122,122);
        }

        h1{
            @include mq('tablet-small', 'max'){
                font-size: 1.5rem;                
            }
        }

        h3{
            font-size: 0.9rem;
            color: rgb(80,80,80);

            @include mq('desktop', 'max'){
                font-size: 0.7rem;
            }
        }

        p{
            padding:2rem 1rem;
            margin:0;
        }
    }

    .m-contact__card{
        position:relative;
        width:50%;
        max-width:650px;
        padding:1.2rem;
        //margin:0 0.25rem .5rem 0.25rem;
        //background-color: rgb(247,247,247);
        //box-shadow: rgba(40, 40, 45, 0.1) 1px 1px 1px 1px;      
        
        @include mq('tablet', 'max'){
            width:100%;
            max-width:100%;
            margin-bottom:50px;
        }

        .m-contact__card__flag{
            position: absolute;
            width:2rem;
            line-height: 2rem;
            top:0;
            left:0;
            bottom:0;
            background-color: #333;
            p{
                margin:1rem 0 0 0;
                padding:0;
                writing-mode: vertical-rl;
                text-orientation: mixed;
                color:#fff;
                text-align: center;
            }
            img{
                margin:.5rem 0 0 0;
                width:20px;
                height:20px;
            }
        }
    }

    .m-contact__name{
        position:absolute;
        top:50%;
        width:100%;
        text-align: center;        
        margin:0 !important;
        transform: translateY(-50%);

        h1{
            font-weight: 100;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 3rem;

            @include mq('tablet-small', 'max'){
                font-size: 1.5rem;                
            }
        }
    }

    .m-contact__mail{
        text-decoration: underline;
        letter-spacing: 2px;
        font-size: 1.5rem;
        margin:0 !important;
        cursor: pointer;
        a{
            color:#ddd;
        }
        @include mq('tablet-small', 'max'){
            font-size: 1rem;
        }
    }
}