.m-me{
    display:flex;
    position:relative;
    flex-wrap: wrap;
    flex-direction: row;

    @include mq('tablet', 'max'){
        //padding-top:5rem;
    }

    div{
        width:50%;
        min-height:100vh;

        @include mq('tablet', 'max'){
            width:100%;
            margin:0 auto;
            min-height:50vh;
        }

        &.m-me__avatar{
            @include mq('phablet', 'max'){
                width:100%;
                margin:0 auto;
                min-height:30vh;
                height:30vh;
            }
        }

        &.m-me__text{
            @include mq('phablet', 'max'){
                display:block;
                padding-bottom:2rem;
                width:100%;
                margin:0 auto;
                min-height:70vh;
                //height:30vh;
            }
        }
    }
}

.m-me__avatar{
    width:50%;
    min-height:100vh;
    overflow: hidden;
    background-image: url('~img/lars_square.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;

    img{
        max-width: 100%;
    }    

    @include mq('tablet', 'max'){
        background-size: cover;
        background-position: center center;
        min-height:auto;
        height:50vh;
    }

}

.m-me__text{
    position:relative;
    display:flex;
    //align-items: center;
    justify-content: center;
    flex-direction: column;    
    p{
        padding:1rem;
        font-size: 1.5rem;
        line-height: 2rem;

        @include mq('extra-wide', 'max'){
            font-size: 1.4rem;
            line-height: 1.9rem;
        }

        @include mq('desktop-wide', 'max'){
            font-size: 1.3rem;
            line-height: 1.8rem;
        }

        @include mq('desktop', 'max'){
            font-size: 1.2rem;
            line-height: 1.7rem;
        }

        @include mq('tablet', 'max'){
            font-size: 1rem;
            line-height: 1.5rem;
        }

    }

    p a{
        color:#333;
    }
    
    @include mq('tablet', 'max'){
        width:100%;
        min-height:50vh;
    }

}

div.m-me__prize{
    padding: 0 3rem;
    min-width:100%;

    @include mq('phone-wide', 'max'){
        padding: 0 1.5rem;
    }    
}


$color:#333;

.m-me__timeline {
    padding: 90px 0px 0px 0px;
    max-width: 75%;
    margin: 0px 0px 3rem 25%;

    @include mq('phone-wide', 'max'){
        margin: 0px 0px 3rem 0;
        max-width: 100%;
    }  

    .m-me__timeline__date {
        position: relative;
        left: -125px;
        //font-weight: bold;
        @include mq('phone-wide', 'max'){
            left:0;
        }    
    }
    ul {
      color: $color;
      list-style-type: none;
      position: relative;
      padding: 25px 0 25px 10px;
      font-size: 1.2rem;
      margin: 0;

      @include mq('phone-wide', 'max'){
        padding: 25px 0 0 10px;
    } 
      
      /*&:before{
          position:absolute;
          top:-10px;
          left:-11px;
          content:"\039b";
          color:#ccc;
      }*/
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: -4.5px;
        bottom: 0;
        border-left: 1px solid #ccc;
        height: 100%;
      }
      li {
        margin: 15px 0 5px 10px;
        position: relative;
        display: block;
        &:last-child {
          margin-bottom: 0px;
        }
        &:before {
          content: "";
          display: block;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background-color: white;
          border: 1px solid rgba($color, 0.5);
          position: absolute;
          z-index: 2;
          left: -30px;
          outline: 2px solid white;
          top: 7.5px; 
        }
        h4,p{
            padding:5px 0 0 10px;
            margin:5px 0;

            @include mq('phone-wide', 'max'){
                font-size:1rem;
                margin:5px 0 25px;
            } 

            &:before {
                content: "";
                position: absolute;
                left: -20px;
                border-bottom: 1px solid #ccc;
                width: 20px;
                top: 14px;
                z-index: -1;
            }
        }
        
      }
    }
  }

.me-no-flexbox{

}