.m-video-info{
    //margin-bottom: 3rem;
    text-align: center;
    color:#333;
    font-size:.85em;
    padding-top:.5rem;

    p{
        margin:0.2rem;
    }

    hr{
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ddd;
        margin: 1em 0;
        padding: 0; 
    }
}

.m-video-info--thumb{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;    
    z-index:1;
    transition:all .3s;
    &:hover{
        background-color: rgba(0,0,0,0.6);
    }
    .m-video-info--thumb__wrapper{
        width:100%;
        text-align: center;
        display:block;
        top:50%;        
        transform:translateY(-50%);
        -webkit-transform:translateY(-50%);
    }
}