.m-video-info{
    margin-bottom: 6rem;
    text-align: center;
    color:#333;
    font-size:.85em;

    hr{
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ddd;
        margin: 1em 0;
        padding: 0; 
    }
}