.o-video-list{
    margin:0 auto;
    padding:4rem 2.5rem;
    max-width:1024px;
    transition:all .3s;

    @include mq('tablet', 'max') {
        padding:3rem 2.5rem;
    }
}

.m-menu--open .o-video-list{
    @include mq('tablet', 'max') {
        padding:17rem 2.5rem;
    }
}