.o-video-list{
    margin: 0 auto;
    transition:all .3s;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}


.o-video-list.no-flexbox{
    margin: 0 auto;
    transition:all .3s;

    @include mq('tablet', 'max') {
    }
}

.m-menu--open .o-video-list{
    @include mq('tablet', 'max') {
    }
}