.a-contact-representation{   
    display:block;
    font-weight: 100;
    letter-spacing: 0.2em;
    padding:1em;
    font-variant-ligatures: normal;
    text-align: center;
    text-transform: uppercase;
}