.a-video-info-item{

}

.a-video-info-item--name{
    //font-weight: bold;
}

.a-video-info-item--client{
    //font-weight: bold;
    color:#777;
}

.a-video-info-item--year{
    font-weight: bold;
}

.a-video-info-item--desc{
    //font-weight: bold;
    color:#555;
}