@import './animated';
@import './typography';
@import './utils/utils';

html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:-webkit-full-screen-ancestor iframe{
  position: static;
  display: none;
}

:-webkit-full-screen-ancestor .m-video{
  opacity:0;
}

.m-video:-webkit-full-screen{
  opacity:1;
}

iframe:-webkit-full-screen {
  position:fixed;
  display: block;
}